<po-page-default>
  <div class="po-row po-pl-1 po-pb-2 po-pt-3">
    <img class="imageEx po-sm-3 po-p-0" src="https://raw.githubusercontent.com/BrunoScholze/ZapConnect/main/zapConnect/src/app/assets/img/moc.jpg" alt="">
    <div class="po-sm-9">
      <span class="titleFont po-sm-12 po-pt-4">Informe seus dados</span>
      <span class="spanFont po-sm-12 po-pt-1">Insira as informações para gerar o documento</span>
    </div>
  </div>

  <po-container>
    <div class="po-pl-1">
      <po-upload
        name="upload"
        [ngModel]="pessoa.imagem"
        (ngModelChange)="pessoa.imagem = $event"
        p-label="Foto 3x4"
        [p-required-url]="false"
        [p-multiple]="false"
        [p-required]="true"
        [p-hide-send-button]="true"
      >
      </po-upload>
    </div>

    <po-input
      name="nome"
      class="po-sm-12"
      p-label="Seu Nome"
      [(ngModel)]="pessoa.nome">
    </po-input>

    <po-input
      name="empresa"
      class="po-sm-12"
      p-label="Empresa"
      [(ngModel)]="pessoa.empresa">
    </po-input>

    <po-input
      name="cargo"
      class="po-sm-12"
      p-label="Cargo"
      [(ngModel)]="pessoa.cargo">
    </po-input>

    <div class="po-row">
      <po-select
        name="IDD"
        class="po-sm-3"
        p-label="IDD"
        [ngModel]="pessoa.idd"
        (p-change)="onChangeIdd($event)"
        [p-options]="idd">
      </po-select>

      <po-number
        name="numero"
        class="po-sm-9"
        p-label="Número"
        [(ngModel)]="number">
      </po-number>
    </div>

    <po-input
      name="cidade"
      class="po-sm-6 po-pt-1"
      p-label="Cidade"
      [(ngModel)]="pessoa.cidade">
    </po-input>

    <po-input
      name="pais"
      class="po-sm-6 po-pt-1"
      p-label="País"
      [(ngModel)]="pessoa.pais">
    </po-input>

    <po-button
      class="po-sm-12 po-pt-1"
      p-label="Fazer Download"
      (p-click)="onCLickDownload()"
      p-kind="primary">
    </po-button>

  </po-container>
</po-page-default>
