<po-page-default >

  <div class="po-row po-pl-1">
    <img src="assets/img/mat.jpg" alt="">
    <span class="titleFont"> Informe seus dados</span>
    <span class="spanFont">Insira as informações para gerar o documento</span>
  </div>

  <span
    class="po-pl-1 po-pt-1 po-font-text-large-bold">Foto 3x4
  </span>

  <po-button-group
    class="po-md-12 po-pb-1"
    [p-buttons]="buttons"
    p-label="teste">
  </po-button-group>

  <po-input
    class="po-sm-12"
    p-label="Seu Nome">
  </po-input>

  <po-input
    class="po-sm-12"
    p-label="Empresa">
  </po-input>

  <po-input
    class="po-sm-12"
    p-label="Cargo">
  </po-input>

  <po-number
    class="po-sm-12"
    p-label="Numero">
  </po-number>

  <po-input
    class="po-sm-6"
    p-label="Cidade">
  </po-input>

  <po-input
    class="po-sm-6"
    p-label="País">
  </po-input>

  <po-button
    class="po-sm-12 po-pt-1"
    p-label="Fazer Download"
    p-kind="primary">
  </po-button>

</po-page-default>
