/* Dentro de styles.scss ou wallpaper.component.scss */
body > app-root > app-wallpaper > po-page-default > po-page > div > po-page-content > div {
  padding: 0 !important;
}

.po-sm-3, .po-visible-sm-3{
  width: 20%;
}

.wallPaper {
  height: 100vh;
  background-color: rgb(230, 230, 230);
}

.flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.po-pt-big-top{
  padding-top: 80%;
}

.image-size {
  width: 70px;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.image-3x4 {
  width: 80px;
  height: 80px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  margin: 0 ;
  border-radius: 5px;
}

.font-name{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.font-city{
  font-family: 'Poppins', sans-serif;
  color: rgb(165, 165, 165);
}

.font-cargo{
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
}

.text-left {
  text-align: left;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 13px 0;
}

.image-size {
  max-width: 40px;
}

.qr-code{
  width: 250px;
  height: auto;
  border-radius: 8px;
}




